body
{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003226_1714596295_pics1.png);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Common text color */
header, #headings, #images, th, footer
{
    color: white;
}
/* Common background color */
header, footer, th
{
    background-color: rgb(34, 0, 85);
}