body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ccc;
}

a:hover {
  cursor: pointer;
}

header, main section {
  background-color: white;
}

header figure {
  width: 7.5rem;
  height: 2.5rem;
}
header figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header form {
  display: flex;
  flex-flow: row nowrap;
}
header form input, header form button {
  padding: 0.5rem;
}
header form input {
  background-color: rgb(237, 236, 236);
  outline: none;
}
header form button {
  background-color: rgb(252, 172, 24);
  color: white;
}
header form button:hover {
  cursor: pointer;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 2cqi;
}
header nav a {
  background-color: royalblue;
  color: white;
  padding: 0.6rem 0.75rem;
}

@media screen and (orientation: landscape) {
  header input {
    width: 20rem;
  }
}
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 0.5rem;
  }
  header figure {
    width: 35%;
    height: 35%;
    margin-bottom: 0;
  }
  header form {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.75rem;
  }
  header nav {
    width: 100%;
    justify-content: space-evenly;
  }
}
header {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
  justify-content: space-around;
  place-items: center;
}
header a, header input, header button {
  border: none;
  border-radius: 0.25rem;
}

#categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}
#categories .category {
  width: 10rem;
  height: 10rem;
  text-align: center;
  margin: 0;
}

#ad figure {
  margin: 0;
  width: 100%;
}
#ad figure img {
  width: 100%;
  object-fit: contain;
}

#discounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
}
#discounts .discount {
  margin: 0;
  width: 95%;
  height: auto;
}
#discounts .discount img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  #discounts {
    display: flex;
    flex-flow: row wrap;
  }
  #discounts .discount {
    width: 100%;
  }
}
#deals {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
}
#deals div {
  display: flex;
  flex-flow: row wrap;
  place-content: space-evenly;
}
#deals figure {
  border: 1px solid rgb(233, 233, 233);
  padding: 0.625rem;
  margin: 1.25rem;
}
#deals figure img {
  height: 12.5rem;
}

@media screen and (max-width: 480px) {
  #deals img {
    height: 15cqb;
  }
}
.row {
  margin: 0.625rem 0;
}

footer {
  background-color: rgba(17, 15, 15, 0.87);
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
}
footer section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 1.5rem;
}
footer section h3 {
  color: grey;
}
footer section a {
  color: white;
  text-decoration: none;
}
footer section a:hover {
  text-decoration: underline;
}

@media screen and (orientation: portrait) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
  }
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-flow: column nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
