@use '../mixins';

#deals
{
    @include mixins.flex-layout(column);
    place-items: center;
    div
    {
        @include mixins.flex-layout(row, wrap);
        place-content: space-evenly;
    }
    figure
    {
        border: 1px solid rgb(233, 233, 233);
        padding: 0.625rem;
        margin: 1.25rem;
        img
        {
            height: 12.5rem;
        }
    }
}

@media screen and (max-width: 480px)
{
    #deals
    {
        img
        {
            height: 15cqb;
        }
    }
}