@use 'nav';

#header
{
    height: auto;
    padding: 0 0 5rem;
    background: url('../../../multimedia/macbook_mouse.jpg') center fixed;
    background-size: cover;
    opacity: 0.8;
    color: white;
    text-align: center;
    h1
    {
        font-size: 3rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        margin-top: 6rem;
    }
    a
    {
        color: white;
    }
}