@use 'variables';

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ccc;
}
a:hover
{
    cursor: pointer;
}
header, main section
{
    background-color: variables.$bg-color;
}