@mixin dimension($width, $height)
{
    width: $width;
    height: $height;
}
@mixin border($border, $border-radius)
{
    border: $border;
    border-radius: $border-radius;
}
@mixin color($background-color, $color)
{
    background-color: $background-color;
    color: $color;
}
@mixin flex-layout($direction: row, $wrap: nowrap)
{
    display: flex;
    flex-flow: $direction $wrap;
}
@mixin grid-layout($template-columns: repeat(auto-fit, 1fr))
{
    display: grid;
    grid-template-columns: $template-columns;
}
@mixin justify-layout($content: space-evenly, $items: center)
{
    justify-content: $content;
    justify-items: $items;
}