/* Table styling */
#rankings
{
    padding-bottom: 50px;
}

table
{
    margin: auto;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid grey;
    padding: 10px;
}
td
{
    background-color: white;
    color: rgb(34, 0, 85);
    font-weight: bold;
}