#deals
{
    display: grid;
    place-items: center;
}
#deals div
{
    display: flex;
    flex-flow: row wrap;
    place-content: space-evenly;
}
#deals figure
{
    padding: 0.625rem;
    border: 1px solid rgb(233, 233, 233);
    margin: 1.25rem;

}
#deals img
{
    height: 12.5rem;
}

@media screen and (max-width: 480px)
{
    #deals img
    {
        height: 15cqb;
    }
}