@use '../mixins';
@use '../variables';

#contact
{
    margin: 3rem auto 0;
    padding: 2rem;
    background: linear-gradient(60deg, rgb(66, 66, 207), rgb(78, 40, 166) 70%);
    color: white;
    @include mixins.flex-layout(column);
    h2
    {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: white;
    }
    nav
    {
       width: 30%;
       margin: 1rem auto;
       @include mixins.flex-layout;
       justify-content: space-around;
       justify-items: center;
       a
       {
           color: white;
           padding: 1rem;
           border-radius: 50%;
           &:hover
           {
                box-shadow: 0 0 6px 4px rgba(230, 196, 196, 0.2);
           }
       }
    }
}
#contact-details
{
    width: 80%;
    margin: 2rem auto 3rem;
    @include mixins.grid-layout(1fr 1fr);
    column-gap: 3rem;
    justify-content: space-evenly;
    form
    {
        @include mixins.flex-layout(column);
        row-gap: 2rem;
        input, textarea
        {
            background-color: rgba(white, 0);
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
        }
        button
        {
            width: 10rem;
            margin: auto;
            padding: 0.75rem;
            text-transform: uppercase;
            color: variables.$blue;
            font-weight: bold;
            border-radius: 2px;
            border: none;
            &:hover
            {
                cursor: pointer;
            }
        }
    }
}
#address
{
    h3
    {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px)
{
    #contact-details
    {
        @include mixins.flex-layout(column);
        row-gap: 2rem;
    }
    #contact
    {
        nav
        {
            width: 100%;
        }
    }
}