@use 'about';
@use 'skills';
@use 'experience';
@use 'education';
@use 'timeline';
@use 'portfolio';
@use 'contact';
@use '../variables';

article
{
    margin: 10px auto;
    h2
    {
        color: variables.$blue;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
}