#form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../multimedia/plan-bg.png);
    justify-content: space-evenly;
    width: 100%;
}
#form figure
{
    width: 20rem;
    margin: 0 auto;
}
#form img
{
    justify-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#form form
{
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
}
#form div
{
    margin-bottom: 1.5rem;
}
#form p, #form h2
{
    text-align: center;
    font-weight: bold;
}
#form p
{
    color: var(--primary-color);
    text-transform: uppercase;
}
#form h2, #form label
{
    color: white;
}
#form fieldset
{
    display: grid;
    row-gap: 0.2rem;
    margin-bottom: 1rem;
}
#form fieldset:first-of-type
{
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    margin-bottom: 1rem;
}
#form input, #form select, #form button
{
    background-color: rgba(237, 237, 237, 0.597);
    border-radius: 0.4rem;
    outline: none;
    color: white;
}
#form fieldset:last-of-type
{
    grid-template-columns: 1fr;
}
#la
{
    margin-bottom: 1rem;
}
#form select
{
    height: 2rem;
}
#form button
{
    justify-self: flex-start;
    width: 8rem;
    background-color: var(--primary-color);
    padding: 0.5rem;
    display: inline-block;
    transition: all 0.3s;
}
#form button:hover
{
    transform: scale(1.05);
}

@media (max-width: 768px)
{
    #form
    {
        grid-template-columns: 1fr;
        place-content: center;
    }
    #form figure
    {
        display: none;
    }
    #form form
    {
        margin-bottom: 5rem;
    }
}
@media (max-width: 480px)
{
    #form fieldset
    {
        display: flex;
        flex-direction: column;
    }
    #name
    {
        order: 0;
    }
    label[for="email"], #email
    {
        order: 1;
    }
}