@mixin dimensions($width, $height: $width)
{
    width: $width;
    height: $height;
}
@mixin flex-layout($direction: row, $wrap: nowrap)
{
    display: flex;
    flex-flow: $direction $wrap;
}
@mixin grid-layout($grid-template-columns)
{
    display: grid;
    grid-template-columns: $grid-template-columns;
}