@use '../mixins';

@media screen and (orientation: landscape)
{
    header
    {
        input
        {
            width: 20rem;
        }
    }
}

@media screen and (max-width: 480px)
{
    header
    {
        flex-direction: column;
        row-gap: 1rem;
        padding-bottom: 0.5rem;
        figure
        {
            @include mixins.dimension(35%, 35%);
            margin-bottom: 0;
        }
        form
        {
            width: 100%;
            @include mixins.grid-layout(4fr 1fr);
            gap: 0.75rem;
        }
        nav
        {
            width: 100%;
            justify-content: space-evenly;
        }
    }
}