#home
{
    background-image: url(../multimedia/hero-bg.jpg);
    color: var(--bg-color);
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: slide-in 2s ease-out forwards;
}
@keyframes slide-in 
{
    from
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}
.home-text
{
    width: 50%;
    padding: 2rem 0 0 1rem;
}
h1
{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.375rem;
    margin-bottom: 2.5rem;
}
h1 em
{
    font-style: normal;
    color: var(--primary-color);
}
#divider
{
    width: 5rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: var(--bg-color);
    margin-bottom: 2.5rem;
}
#home p
{
    margin-right: 3.75rem;
    margin-bottom: 3.125rem;
}

@media (max-width: 990px)
{
    #home
    {
        padding: 4rem;
    }
    .home-text
    {
        width: 90%;
        text-align: center;
    }
    h1
    {
        font-size: 2rem;
        line-height: 1.5;
        margin: 1rem auto;
    }
    #divider
    {
        margin: 1rem auto;
    }
    #home p
    {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 768px)
{
    #divider
    {
        width: 12rem;
    }
}
@media (max-width: 580px)
{
    #divider, #home p
    {
        display: none;
    }
}