#contact-inner
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
iframe, #feedback
{
    border-radius: 30px;
}
#feedback
{
    background-color: white;
    padding: 20px;
}
#feedback h2
{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}
form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input, textarea
{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
form input[type="text"],
form input[type="email"], textarea
{
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form textarea
{
    resize: none;
    height: 150px;
}
form input[type="submit"]
{
    background-color: #9bdd7c;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}