#graph
{
    width: 90%;
    height: auto;
    border-radius: 25px;
    background-color: white;
    place-self: center;
    padding: 10px;
}
#graph img
{
    height: 100%;
    width: 100%;
}
h3
{
    font-size: x-large;
}