#contact-inner
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
iframe
{
    border-radius: 30px;
}
#feedback-form
{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
#feedback-form h2
{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}
#feedback-form input[type="text"],
#feedback-form input[type="email"],
#feedback-form textarea
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#feedback-form textarea
{
    resize: vertical;
    height: 150px;
}
#feedback-form input[type="submit"]
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9bdd7c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}