@font-face {
    font-family: ShortBaby;
    src: url(../../multimedia/ShortBaby-Mg2w.ttf);
}
body
{
    font-family: "Sedan SC";
    background-color: #f5f5f5;
}
main
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 20px;
}