nav
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 20px;
    margin-left: 30px;
}
.nav:hover
{
    color: gold;
}
nav a
{
    color: white;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    text-decoration: none;
}
nav a:hover
{
    color: lightgray;
}