#schedule
{
    background-color: white;
    align-self: center;
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
}
#schedule-head
{
    display: flex;
    justify-content: space-between;
}
.schedule-details
{
    margin: 5px;
}
.schedule-details:nth-of-type(even)
{
    border-left: 3px solid lightgreen;
}
.schedule-details:nth-of-type(odd)
{
    border-left: 3px solid blue;
}
.meet
{
    margin: 0px 0px 1px 10px;
}
.head
{
    font-size: 20px;
    font-weight: 600;
}
.detail
{
    font-weight: 400;
    color: #999999;
}
